.centerPretty {

 display: flex;
 justify-content: center;
 align-items: center;
}

.center {
    align-items: center;
}

.handPattingCSS {
 position: absolute;
 top: 50px;
}

@media  (max-width: 600px) {
   .smallHand {
    width: 70px;
    height: 70px;
   }
}

